guacamol_v1_train.smiles
proj_summary_QY.pptx
.DS_Store
.idea/
CEP_smiles.csv
ChEMBL_filtered_gua_plus_donor_acceptor.smi
Prior_local.ckpt
__pycache__/
all_smi_refined_cano.csv
data/CEP_cano.smi
data/ChEMBL_from_gua_filter.smi
data/ChEMBL_from_gua_withda_filter.smi
data/Prior_local.ckpt
data/Voc_cep
data/Voc_deep
data/Voc_new
data/Voc_withda
data/deeps_filtered.smi
deepsmile_test/.DS_Store
deepsmile_test/deeprefined_smii.csv
post_processing/.DS_Store
post_processing/Gen_promisings_cano.csv
post_processing/__pycache__/
post_processing/sampled_da_cano/
post_processing/tsne_plot_cano.png
post_processing/unique_sampled_smiles_corr2_cano.csv
sampled_da_1024.csv
